.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

.image-onText {
  position: absolute;
  top: 200px;
  text-align: center;
  width: 100%;
  font: bold 70px Helvetica;
}

.image-onText2 {
  position: absolute;
  top: 300px;
  text-align: center;
  width: 100%;
  font: bold 25px Helvetica;
}

h2 span {
  color: white;
  letter-spacing: -1px;
  /*background: rgb(0, 0, 0); !* fallback color *!*/
  /*background: rgba(0, 0, 0, 0.4);*/
  padding: 10px;
}

.navbar-nav{
  padding-left: 20px;
  font-size: 18px;
}

.navbar-brand{
  font-size: 22px;
  padding-left: 50px;
  padding-right: 150px;
}

.nav-link {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.4);
  padding-top: 4px;
  padding-bottom: 4px;
}

.loged-user-div {
  margin-right: 20px;
}

.nonLog-user-div {
  margin-right: 20px;
}

.loged-user-name{
  color: aliceblue;
  margin-right: 20px;
}

.detail-property-image{
  max-height: 200px;
}

.top1 {
  height:250px;
  background-color:#FFFFFF;
  overflow: hidden;
}

.top1 img {
  height:100%;
}